@import "leaflet/dist/leaflet.css";
@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

/* Force SOS modals above Leaflet map */
.sos-overlay {
  position: relative !important;
  z-index: 999999 !important;
}

.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 1 !important;
}
